.drinks{
    @include max-width;
    height: 70vh;
    background-color: $color-one;
    position: relative;
    padding: 4rem;
    border-top: 1px solid $color-four;

    &__heading{
        width: 60%;
        height: 12rem;
        background-color: $color-one;
        border-radius: 8rem 8rem 0 0;
        border-top: 1px solid $color-four;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -10rem);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &--text{
            padding: 2rem;
            font-size: $font-size-big;
            color: $color-four;
        }

    }

    &__list{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        &--cocktail{
            position: relative;
	        width: 22%;
            height: 40%;
	        box-sizing: border-box;
	        overflow: hidden;
	        transition: 1s ease-out;
            border: 1px solid $color-four;

            &-img{
                max-width: 100%;
                min-height: 100%;
                transition: 1s;
                transform: scale(1);
                backface-visibility: hidden;
            }
            &:hover &-img{
                transform: scale(1.1);
            }

            &-rec{
                font-size: 2rem;
                color: $color-four;
                transform: translateX(-100%);
                background-color: rgba($color-one, .5);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s;
                padding: 1rem;

                &-active{
                    transform: translateX(0);
                }
            }

            &-name{
                font-size: 2rem;
                padding: .5rem 2rem;
                border-radius: 2rem 2rem 0 0;
                color: $color-four;
                background-color: rgba($color-one, .5);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 100%);
                cursor: pointer;
                transition: 1s;
            }
            &:hover &-name{
                transform: translate(-50%, 0);
            }
        }
    }
}
